$purple: #22082B;
$myBorder: 2px solid red;
$violet: #825890;
$black: #000000;
$dark: #3a3a42;
$pink: #ec84b6;
$pink1: #eedcfa;
$pink2: #969ae4;
$white: #fff;
$light-pink: #fdecff;
$light-pink1: #fdfaff;
$grey: #f3f3f3;
$modalFont: #e2e2e2;
$modalBgWindow: #d6cdd9;